@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<h1>IdentityServer Login</h1>

<form asp-controller="Auth" asp-action="Login" method="post">
    <input type="hidden" asp-for="ReturnRul" />
    <div><label>user name: </label><input type="text" name="username" value="" /></div>
    <div><label>password: </label><input type="text" name="password" value="" /></div>
    <div><button type="submit">Login</button></div>


</form>

<div><a asp-controller="Auth" asp-action="Register" asp-route-returnUrl="@Model.ReturnRul"> Register </a></div>


