@model CleanArchitecture.Web.ViewModels.HomePageViewModel
@{
    ViewData["Title"] = "GuestBook";
}

<h2>@Model.GuestBookName</h2>

<ol class="round">
    @if (!Model.PreviousEntries.Any())
    {
        <li class="zero">
            <h5>No message</h5>
        </li>
    }
    @foreach(var item in Model.PreviousEntries.OrderByDescending(p => p.DatetimeCreated))
    {
        <li class="arrow">
            <h5>@item.EmailAddress - @item.DatetimeCreated</h5>
            @item.Message
        </li>
    }
    <div class="col-md-6">
        <h2>To Do Items (MVC)</h2>
        <ul>
            <li><a asp-area="" asp-controller="ToDo" asp-action="Populate">Load Sample To Do Items</a> (API call returning just a number)</li>
            <li><a asp-area="" asp-controller="ToDo" asp-action="Index">List To Do Items</a></li>
            <li><a href="/swagger">API Documentation (Swagger)</a></li>
        </ul>
        <h2>To Do Items (Razor Pages)</h2>
        <ul>
            <li><a asp-page="/ToDoRazorPage/Populate">Load Sample To Do Items</a></li>
            <li><a asp-page="/ToDoRazorPage/Index">List To Do Items</a></li>
        </ul>
    </div>
    <div class="col-md-6">
        <h2>About the Author</h2>
        <ul>
            <li><a href="https://ardalis.com">Blog - Ardalis.com</a></li>
            <li><a href="https://twitter.com/ardalis">Twitter - @@ardalis</a></li>
            <li><a href="https://github.com/ardalis">GitHub</a></li>
        </ul>
    </div>
</ol>
