<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!--step to use NLog: ref: https://www.youtube.com/watch?v=bTPnT13Efd4
  1. install: NLog.Web.AspNetCore
  2. creat file nlog.configur on root directory - with this contents
  3. add codes on Program.cs file
  
  
  -->
  
  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file  -->
    <target name="allfile" xsi:type="File"
            fileName="c:\Sue\Logs\FreshingStore\LogFreshingStore-${shortdate}.log"/>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="allfile" />
  </rules>
</nlog>